In [1]:
import pandas as pd

### Read original files

In [2]:
# Cross walk of County, Commuting Zone and State
cw = pd.read_csv('Health-Wealth/cty_cz_st_crosswalk.csv', index_col=None)

In [3]:
# National life expectancy estimates (pooling 2001-14) for men and women, by income percentile 
tb1 = pd.read_csv('Health-Wealth/health_ineq_online_table_1.csv', index_col=None)

In [4]:
# National by-year life expectancy estimates for men and women, by income percentile
tb2 = pd.read_csv('Health-Wealth/health_ineq_online_table_2.csv', index_col=None)

In [5]:
# State-level life expectancy estimates for men and women, by income quartile
tb3 = pd.read_csv('Health-Wealth/health_ineq_online_table_3.csv', index_col=None)

In [6]:
# State-level estimates of trends in life expectancy for men and women, by income quartile
tb4 = pd.read_csv('Health-Wealth/health_ineq_online_table_4.csv', index_col=None)

In [7]:
# State-level by-year life expectancy estimates for men and women, by income quartile 
tb5 = pd.read_csv('Health-Wealth/health_ineq_online_table_5.csv', index_col=None)

In [8]:
# CZ-level life expectancy estimates for men and women, by income quartile
tb6 = pd.read_csv('Health-Wealth/health_ineq_online_table_6.csv', index_col=None)

In [9]:
# CZ-level life expectancy estimates for men and women, by income ventile
tb7 = pd.read_csv('Health-Wealth/health_ineq_online_table_7.csv', index_col=None)

In [10]:
# CZ-level estimates of trends in life expectancy for men and women, by income quartile
tb8 = pd.read_csv('Health-Wealth/health_ineq_online_table_8.csv', index_col=None)

In [11]:
# CZ-level by-year life expectancy estimates for men and women, by income quartile
tb9 = pd.read_csv('Health-Wealth/health_ineq_online_table_9.csv', index_col=None)

In [12]:
# CZ-level characteristics described in eTable 9 
tb10 = pd.read_csv('Health-Wealth/health_ineq_online_table_10.csv', index_col=None)

In [13]:
# County-level life expectancy estimates for men and women, by income quartile 
tb11 = pd.read_csv('Health-Wealth/health_ineq_online_table_11.csv', index_col=None)

In [14]:
# County-level characteristics described in eTable 9 
tb12 = pd.read_csv('Health-Wealth/health_ineq_online_table_12.csv', index_col=None, encoding='latin-1')

In [15]:
# International estimates of mean life expectancy at age 40, by country for men and women
tb13 = pd.read_csv('Health-Wealth/health_ineq_online_table_13.csv', index_col=None)

In [16]:
# Comparison of population and death counts in tax data and NCHS data 
tb14 = pd.read_csv('Health-Wealth/health_ineq_online_table_14.csv', index_col=None)

In [17]:
cw.head()

    cty county_name     cz     cz_name statename  state_fips stateabbrv
0  1001     Autauga  11101  Montgomery   Alabama           1         AL
1  1003     Baldwin  11001      Mobile   Alabama           1         AL
2  1005     Barbour  10301     Eufaula   Alabama           1         AL
3  1007        Bibb  10801  Tuscaloosa   Alabama           1         AL
4  1009      Blount  10700  Birmingham   Alabama           1         AL

In [18]:
len(cw)

3138

### Data Wrangling
For each table, remove the Unadjusted  and Standard Error columns, keep Q1 or V1 columns

In [19]:
# National life expectancy estimates (pooling 2001-14) for men and women, by income percentile 
ntb1 = tb1.loc[:, 'gnd':'le_raceadj']
ntb1.to_csv('table_1.csv', index=False)

In [20]:
# National by-year life expectancy estimates for men and women, by income percentile
ntb2 = tb2.loc[:, 'gnd':'le_raceadj']
ntb2.to_csv('table_2.csv', index=False)

In [21]:
# State-level life expectancy estimates for men and women, by income quartile
ntb3 = tb3[['st', 'statename', 'stateabbrv', 'le_raceadj_q1_F', 'le_raceadj_q1_M', 'count_q1_F', 'count_q1_M']]
ntb3.to_csv('table_3.csv', index=False)

In [22]:
# State-level estimates of trends in life expectancy for men and women, by income quartile
ntb4 = tb4[['st', 'statename', 'stateabbrv', 'le_raceadj_slope_q1_F', 'le_raceadj_slope_q1_M', 'count_q1_F', 'count_q1_M']]
ntb4.to_csv('table_4.csv', index=False)

In [23]:
# State-level by-year life expectancy estimates for men and women, by income quartile 
ntb5 = tb5[['st', 'statename', 'stateabbrv', 'year', 'le_raceadj_q1_F', 'le_raceadj_q1_M', 'count_q1_F', 'count_q1_M']]
ntb5.to_csv('table_5.csv', index=False)

In [24]:
# CZ-level life expectancy estimates for men and women, by income quartile
ntb6 = tb6[['cz', 'czname', 'pop2000', 'fips', 'statename', 'stateabbrv', 'le_raceadj_q1_F', 'le_raceadj_q1_M', 'count_q1_F', 'count_q1_M']]
ntb6.to_csv('table_6.csv', index=False)

In [25]:
# CZ-level life expectancy estimates for men and women, by income ventile
ntb7 = tb7[['cz', 'czname', 'pop2000', 'fips', 'statename', 'stateabbrv', 'le_raceadj_v1_F', 'le_raceadj_v1_M', 'count_v1_F', 'count_v1_M']]
ntb7.to_csv('table_7.csv', index=False)

In [26]:
# CZ-level estimates of trends in life expectancy for men and women, by income quartile
ntb8 = tb8[['cz', 'czname', 'pop2000', 'fips', 'statename', 'stateabbrv', 'le_raceadj_slope_q1_F', 'le_raceadj_slope_q1_M', 'count_q1_F', 'count_q1_M']]
ntb8.to_csv('table_8.csv', index=False)

In [27]:
# CZ-level by-year life expectancy estimates for men and women, by income quartile
ntb9 = tb9[['cz', 'czname', 'pop2000', 'stateabbrv', 'year', 'le_raceadj_q1_F', 'le_raceadj_q1_M', 'count_q1_F', 'count_q1_M']]
ntb9.to_csv('table_9.csv', index=False)

In [28]:
# County-level life expectancy estimates for men and women, by income quartile 
ntb11_1 = tb11.loc[:, 'cty':'stateabbrv']
ntb11_2 = tb11[['le_raceadj_q1_F', 'le_raceadj_q1_M', 'count_q1_F', 'count_q1_M']]
ntb11 = pd.concat([ntb11_1, ntb11_2], axis = 1)
ntb11.to_csv('table_11.csv', index=False)

In [29]:
# International estimates of mean life expectancy at age 40, by country for men and women
ntb13 = tb13
ntb13.to_csv('table_13.csv', index=False)

In [30]:
# Comparison of population and death counts in tax data and NCHS data 
ntb14 = tb14[['gnd', 'year', 'age', 'dm1_pop', 'dm1_dead', 'cdc_dead', 'cdc_pop']]
ntb14.to_csv('table_14.csv', index=False)

#### Fill missing values in table 10 and table 12
A column is removed if there are more than 20% missing value.   
A state is removed if all the values of a column are missing.  
Fill missing values with the mean value of that state.

In [31]:
# Choose useful colums in table 10
ntb10_1 = tb10.loc[:, 'cz':'stateabbrv']
ntb10_2 = tb10[['cur_smoke_q1', 'bmi_obese_q1', 'exercise_any_q1']]
ntb10_3 = tb10.loc[:, 'puninsured2010':'adjmortmeas_pnall30day']
ntb10_4 = tb10.loc[:, 'cs00_seg_inc':'unemp_rate']
ntb10 = pd.concat([ntb10_1, ntb10_2, ntb10_3, ntb10_4], axis = 1)

In [32]:
ntb10.head()

,cz,czname,pop2000,fips,statename,stateabbrv,cur_smoke_q1,bmi_obese_q1,exercise_any_q1,puninsured2010,...,cs_race_theil_2000,gini99,poor_share,inc_share_1perc,frac_middleclass,scap_ski90pcm,rel_tot,cs_frac_black,cs_frac_hisp,unemp_rate
0,100,Johnson City,576081.0,47,Tennessee,TN,0.351208,0.292475,0.546503,15.99971,...,0.090384,0.33345,0.140450,0.13459,0.54796,-0.297858,51.44033,2.084082,0.928515,0.052080
1,200,Morristown,227816.0,47,Tennessee,TN,0.419753,0.302632,0.506173,19.50662,...,0.093153,0.32828,0.146197,0.10631,0.53750,-0.767355,54.38951,1.977912,2.348825,0.059792
2,301,Middlesborough,66708.0,47,Tennessee,TN,0.364103,0.320856,0.475309,17.74554,...,0.064250,0.33404,0.270661,0.10691,0.46685,-1.270251,66.78059,1.464592,0.616118,0.068083
3,302,Knoxville,727600.0,47,Tennessee,TN,0.324125,0.259366,0.581132,14.88756,...,0.209994,0.35752,0.130067,0.15080,0.50410,-0.221885,60.19530,5.636476,1.167125,0.039858
4,401,Winston-Salem,493180.0,37,North Carolina,NC,0.323423,0.285605,0.606607,19.02583,...,0.262388,0.34636,0.108081,0.11917,0.49991,-0.017796,48.79375,17.353100,5.798897,0.050758

In [33]:
# Remove the columns whose empty values are more than 20%
l = len(ntb10)
names = ntb10.columns.values[6:] 
for name in names:
    n = ntb10[name].isnull().values.sum()
    if n/l > 0.2: 
        ntb10 = ntb10.drop([name], axis=1)

In [34]:
names = ntb10.columns.values[6:]
names

array(['cur_smoke_q1', 'bmi_obese_q1', 'exercise_any_q1', 'puninsured2010',
       'reimb_penroll_adj10', 'mort_30day_hosp_z',
       'adjmortmeas_amiall30day', 'adjmortmeas_chfall30day',
       'adjmortmeas_pnall30day', 'cs00_seg_inc', 'cs00_seg_inc_pov25',
       'cs00_seg_inc_aff75', 'cs_race_theil_2000', 'gini99', 'poor_share',
       'inc_share_1perc', 'frac_middleclass', 'scap_ski90pcm', 'rel_tot',
       'cs_frac_black', 'cs_frac_hisp', 'unemp_rate'], dtype=object)

In [35]:
states = ntb10['statename'].unique()
states

array(['Tennessee', 'North Carolina', 'Virginia', 'South Carolina',
       'Mississippi', 'Louisiana', 'Arkansas', 'Kentucky', 'Alabama',
       'Georgia', 'Florida', 'West Virginia', 'Maryland',
       'District of Columbia', 'Michigan', 'Ohio', 'Indiana', 'Illinois',
       'Pennsylvania', 'New York', 'New Jersey', 'Delaware', 'Maine',
       'Vermont', 'Rhode Island', 'Massachusetts', 'New Hampshire',
       'Connecticut', 'Wisconsin', 'Minnesota', 'Iowa', 'Missouri',
       'North Dakota', 'South Dakota', 'Montana', 'Nebraska', 'Wyoming',
       'Colorado', 'Kansas', 'Oklahoma', 'Texas', 'New Mexico', 'Alaska',
       'Idaho', 'Hawaii', 'Arizona', 'Oregon', 'Utah', 'California',
       'Nevada', 'Washington'], dtype=object)

In [36]:
for name in names:
    for state in states:
        t = ntb10[ntb10.statename == state]
        if t[name].isnull().values.all():
            ntb10 = ntb10[ntb10.statename != state]
        else:
            m = t[name].mean()
            t = t[name].fillna(m)
            ntb10.loc[ntb10.statename == state, name] = t
ntb10.to_csv('table_10.csv', index=False)

In [37]:
l = len(ntb10)
l

722

In [38]:
# Choose useful colums in table 12
ntb12_1 = tb12.loc[:, 'cty':'stateabbrv']
ntb12_2 = tb12[['cur_smoke_q1', 'bmi_obese_q1', 'exercise_any_q1']]
ntb12_3 = tb12.loc[:, 'puninsured2010':'adjmortmeas_pnall30day']
ntb12_4 = tb12.loc[:, 'cs00_seg_inc':'unemp_rate']
ntb12 = pd.concat([ntb12_1, ntb12_2, ntb12_3, ntb12_4], axis = 1)

In [39]:
ntb12.head()

,cty,county_name,cty_pop2000,cz,cz_name,cz_pop2000,statename,state_id,stateabbrv,cur_smoke_q1,...,cs_race_theil_2000,gini99,poor_share,inc_share_1perc,frac_middleclass,scap_ski90pcm,rel_tot,cs_frac_black,cs_frac_hisp,unemp_rate
0,1001,Autauga,43671,11101,Montgomery,367927.0,Alabama,1,AL,0.333333,...,0.128216,0.379976,0.109228,0.06143,0.51950,-0.897834,56.11275,17.009000,1.396808,0.037379
1,1003,Baldwin,140415,11001,Mobile,599405.0,Alabama,1,AL,0.268097,...,0.100549,0.489738,0.101471,0.12719,0.49911,-0.362414,47.24282,10.224690,1.756222,0.039112
2,1005,Barbour,29038,10301,Eufaula,61458.0,Alabama,1,AL,0.228571,...,0.039993,0.490637,0.267998,0.09734,0.40833,-1.499349,41.17019,46.039670,1.646119,0.068132
3,1007,Bibb,20826,10801,Tuscaloosa,261112.0,Alabama,1,AL,0.244444,...,0.103550,0.417098,0.206075,0.06622,0.46136,-0.930472,46.36512,22.010950,1.008355,0.061639
4,1009,Blount,51024,10700,Birmingham,1038182.0,Alabama,1,AL,0.304348,...,0.079703,0.333042,0.117428,0.06281,0.59722,-1.304095,50.79178,1.171997,5.326905,0.032847

In [40]:
# Remove the columns whose empty values are more than 20%
l = len(ntb12)
names = ntb12.columns.values[9:] 
for name in names:
    n = ntb12[name].isnull().values.sum()
    if n/l > 0.2: 
        ntb12 = ntb12.drop([name], axis=1)

In [41]:
ntb12.head()

,cty,county_name,cty_pop2000,cz,cz_name,cz_pop2000,statename,state_id,stateabbrv,puninsured2010,...,cs_race_theil_2000,gini99,poor_share,inc_share_1perc,frac_middleclass,scap_ski90pcm,rel_tot,cs_frac_black,cs_frac_hisp,unemp_rate
0,1001,Autauga,43671,11101,Montgomery,367927.0,Alabama,1,AL,13.60128,...,0.128216,0.379976,0.109228,0.06143,0.51950,-0.897834,56.11275,17.009000,1.396808,0.037379
1,1003,Baldwin,140415,11001,Mobile,599405.0,Alabama,1,AL,19.08533,...,0.100549,0.489738,0.101471,0.12719,0.49911,-0.362414,47.24282,10.224690,1.756222,0.039112
2,1005,Barbour,29038,10301,Eufaula,61458.0,Alabama,1,AL,18.51381,...,0.039993,0.490637,0.267998,0.09734,0.40833,-1.499349,41.17019,46.039670,1.646119,0.068132
3,1007,Bibb,20826,10801,Tuscaloosa,261112.0,Alabama,1,AL,17.71883,...,0.103550,0.417098,0.206075,0.06622,0.46136,-0.930472,46.36512,22.010950,1.008355,0.061639
4,1009,Blount,51024,10700,Birmingham,1038182.0,Alabama,1,AL,19.28041,...,0.079703,0.333042,0.117428,0.06281,0.59722,-1.304095,50.79178,1.171997,5.326905,0.032847

In [42]:
names = ntb12.columns.values[9:]
names

array(['puninsured2010', 'reimb_penroll_adj10', 'mort_30day_hosp_z',
       'adjmortmeas_amiall30day', 'adjmortmeas_chfall30day',
       'adjmortmeas_pnall30day', 'cs00_seg_inc', 'cs00_seg_inc_pov25',
       'cs00_seg_inc_aff75', 'cs_race_theil_2000', 'gini99', 'poor_share',
       'inc_share_1perc', 'frac_middleclass', 'scap_ski90pcm', 'rel_tot',
       'cs_frac_black', 'cs_frac_hisp', 'unemp_rate'], dtype=object)

In [43]:
states = ntb12['statename'].unique()
states

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District Of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri',
       'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio',
       'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

In [44]:
for name in names:
    for state in states:
        t = ntb12[ntb12.statename == state]
        if t[name].isnull().values.all():
            ntb12 = ntb12[ntb12.statename != state]
        else:
            m = t[name].mean()
            t = t[name].fillna(m)
            ntb12.loc[ntb12.statename == state, name] = t
ntb12.to_csv('table_12.csv', index=False)

In [45]:
l = len(ntb12)
l

3109